h5 {
    text-align: right;
    font-size: large;
}

h1 {
    text-align: center;
    color: red;
    text-decoration: underline;
}

p {
    text-indent: 40px;
    font-size: x-large;
}

img {
    border: 20px solid yellow;
    border-radius: 0px 70px 0px 70px;
}